{% if tableID is not defined %}
    {% set tableID = 'tableEvenements' %}
{% endif %}
{% if lienCandidature is not defined %}
    {% set lienCandidature = false %}
{% endif %}
<table id="{{ tableID }}" class="record_properties table table-hover table-condensed">
    <thead>
        <tr>
            <th>Date</th>
            <th>Type</th>
            <th>Contact</th>
            <th>Note</th>
            <th>Documents</th>
            <th class="text-center"></th>
        </tr>
    </thead>
    <tbody>
    {% for evenement in evenements %}
        {% include 'CandidaturesBundle:Evenement:list_elt.html.twig' with {'evenement' : evenement, 'lienCandidature': lienCandidature }  %}
    {% endfor %}
    </tbody>
    <tfoot><tr><td colspan="6"></td></tr></tfoot>
</table>