<a href="{{ asset(document.webPath) }}" download="{{ document.name|replace(' ', '-') }}.{{ document.extension }}" >
	<span class="glyphicon glyphicon-paperclip" aria-hidden="true"></span>
	{{document.name}}
</a>