{% extends 'AppBundle::layout.html.twig' %}

{% block title "Candidatures - Créer un document" %}

{% block content -%}
	<div class="col-sm-6 col-sm-offset-3">
	    <h1 class="document">Ajouter un document</h1>

	    {% include 'CandidaturesBundle:Document:form.html.twig' with {'form' : form}  %}

        <a href="{{ path('document') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </a>
	</div>
{% endblock %}
