{% extends 'AppBundle::layout.html.twig' %}

{% block title %}Type Evenement{% endblock %}

{% block content -%}
	<div class="col-sm-6 col-sm-offset-3">
	    <h1 class="evenement">TypeEvenement creation</h1>

	    {{ form(form) }}


        <a class="btn btn-info" href="{{ path('typeevenement') }}">
            <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
        </a>
	</div>
{% endblock %}
