div[data-prototype] > div > div.form-group,
div[data-prototype] div.addDoc{
	clear:both;
	padding-top: 1em;
}
div[data-prototype] > div > div.form-group > label,
div[data-prototype] > div.form-group > label { color: white; display:none; }

p[class^="bg-"]{ padding: 1em; }

.success{ color: #5CB85C; }
.failure{ color: #D9534F; }

.candidature{ color: #DF5A49; }
.evenement{ color: #334D5C; }
.entreprise{ color: #E27A3F;}
.contact{ color: #45B29D;}
.document{ color: #EFC94C; }

.todo{ background-color: #f1cbd3; }
.table-hover tbody tr.todo:hover td{ background-color: #f1d7d3; }

.topmargin{margin-top : .5em;}

.inline-display{display:inline;}